:root {
  /* Fonts */
  --main-font: "Open Sans", sans-serif;
  --second-font: "Raleway", sans-serif;

  /* Colors */
  --white-color: #fff;
  --accent-color: #ff6c00;
  --text-color: #555;
  --text-dark-color: #303030;
  --text-light-color: #9da4bd;

  /* Background color */
  --main-bg-color: #fff;
  --accent-bg-color: #191c26;
  --light-bg-color: #f7f7f7;

  /*  */
  --items: 3;
  --indent: 30px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: var(--main-font);
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header,
.hero {
  background-color: var(--accent-bg-color);
}

.link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  outline: transparent;
  text-decoration: none;
  color: var(--white-color);
}

.uper-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--text-light-color);
}

.uper-title.dark {
  color: var(--text-dark-color);
}

.content-title {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--text-dark-color);
}

.content-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.button {
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.button.white {
  color: var(--white-color);
}

.button.dark {
  color: var(--text-dark-color);
}

.social {
  display: flex;
}

.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.25;
  letter-spacing: 0.2em;
  color: var(--text-dark-color);
  text-decoration: none;
}

.social-item:not(:last-child) {
  margin-right: 40px;
}

.link:hover,
.link:focus,
.social-link:hover,
.social-link:focus {
  color: var(--accent-color);
}

/* Header */

.header {
  padding: 32px 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 130px;
}

.nav .list {
  display: flex;
}

.nav .item:not(:last-child) {
  margin-right: 30px;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts .link {
  margin-right: 40px;
}

/* Hero section */

.hero .title {
  margin-bottom: 20px;
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white-color);
}

.hero .subtitle {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* About section */

.about-container {
  display: flex;
}

.about-set {
  margin-right: 30px;
}

.about-item {
  --items: 2;
}

.about-subtitle {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.about-content {
  max-width: 470px;
}

.about-title {
  margin-bottom: 20px;
}

.about-text {
  margin-bottom: 42px;
}

/* Services section */

.services {
  background-color: var(--accent-bg-color);
}

.services-title {
  margin-bottom: 44px;
}

.services-item {
  --items: 2;
}

/* Traditional section */

.traditional-title {
  margin-bottom: 20px;
}

.traditional-item {
  --items: 2;
  max-width: 170px;
  padding: 20px 24px;
  text-align: center;
  background-color: var(--light-bg-color);
}

.traditional-item__elem:not(:last-child) {
  margin-bottom: 30px;
}

.traditional-item__count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  margin-bottom: 6px;
  color: var(--text-dark-color);
}

.traditional-item__description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

/* Barbers section */

.barbers {
  background-color: var(--light-bg-color);
}

.barbers-title {
  margin-bottom: 44px;
}

.barbers-item__content {
  padding: 30px 15px;
}

.team-name {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-dark-color);
}

.team-position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.team-social {
  display: flex;
  justify-content: center;
}

.team-social__item:not(:last-child) {
  margin-right: 10px;
}

.team-social__link {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--white-color);
}

/* .team-social__link:hover,
.team-social__link:focus {
  
} */

/* Works section */

.works-title {
  margin-bottom: 20px;
}

.works-item {
  --items: 4;
}

/* Footer */

.footer {
  padding: 56px 0;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-policy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.25;
  letter-spacing: 0.2em;
  color: var(--text-light-color);
}
