.uper-title {
  position: relative;
  margin-bottom: 20px;
  padding-left: 84px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--text-light-color);

  &::before {
    position: absolute;
    content: "";
    top: 7px;
    left: 0;
    width: 60px;
    height: 1px;
    background-color: var(--text-light-color);
  }
}

.uper-title--dark {
  color: var(--text-dark-color);

  &::before {
    background-color: var(--text-dark-color);
  }
}

.content-title {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--text-dark-color);
}

.content-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
