body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font);
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set__item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
