:root {
  /* Fonts */
  --main-font: "Open Sans", sans-serif;
  --second-font: "Raleway", sans-serif;

  /* Colors */
  --white-color: #fff;
  --accent-color: #ff6c00;
  --text-color: #555;
  --text-dark-color: #303030;
  --text-light-color: #9da4bd;

  /* Background color */
  --main-bg-color: #fff;
  --accent-bg-color: #191c26;
  --light-bg-color: #f7f7f7;

  /*  */
  --items: 3;
  --indent: 30px;
}